body {
  margin: 0 0 0 0;
  background-color: black;
}

.clearfix {
  overflow: auto;
}

main {
  width: 100%;
  height: 700px;
  background-color: black;
  background-position: center;
  background-origin: center;
  border-bottom: lightgrey;
}

.topwave {
  margin: 0 0 0 340px;
  padding: 0 0 0 0;
  border-radius: 50%;
  width: 40px;
  position: relative;
  top: -5px;
}


.surfpaddle {
  margin: 0 0 0 100;
  padding: 0 0 0 0;
  position: relative;
  right: -300px;
  top: 25px;
  width: 250px;
  right: -375px;
}

.search {
  position: absolute;
  position: inline-block;
  width: 200px;
  height: 20px;
  margin: -20px 0 0 850px;
  padding: 18px 0 0 0;
}


header {
  width: 100%;
  height: 400px;
  margin: 0;
  background: black url(http://s3-us-west-1.amazonaws.com/scifindr/articles/images/000/000/922/large/1433769450-6581471d1e597ecad30cee5ad2ce6298-1366x911.jpg?1437603305) no-repeat;
  background-position: center;
  background-origin: center;
  text-shadow: 4px 4px 4px darkgrey;
}

header h1 {
  text-align: center;
  padding: 0;
  margin: 0;
}

header p {
  text-align: center;
  padding: 0 0 0 0;
  margin: 0;
}




.realmain {
width: 800px;
height: 700px;
margin: 0 auto;
background-color: white;
}

.sidebarright {
  width: 300px;
  height: 680px;
  background-color: white;
  float: right;
  border-right: 1px solid lightgrey;
  text-align: center;
  padding: 10px;
}





 .rightface {
  border-radius: 50%;
  position: absolute;
  top: 420px;
  right: 430px;
}

.sidebarright h2 {
  margin: 120px 0 0 0px;
  color: darkblue;
}

.sidebarright h3 {
  color: darkblue;
}

.rightsidebarp {
  text-align: left;
  color: darkgrey;
}

.surf {
  margin: 0 auto;

}

.leftsidebar {
  width: 475px;
  height: 700px;
  background-color: white;
  float: left;
  border-left: 1px solid lightgrey;
}

.leftsidebar h3 {
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  font-style: italic;
  margin: 0;
}

.leftsmallface {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  margin: 0 0 50px 75px;
}

.jacklefttop {
  margin: 0 0 0 100px;
  color: darkblue;
  font-size: 80%;
}


.leftp {
  color: black;
  padding: 20px;
  margin: 0;
}

.leftp2nd {
  padding: 20px;
  margin: 0;

}

.line {
  margin: 0 0 10px 20px;
  color: darkgrey;
}

h4 {
  margin: 0;
  text-align: center;
  position: relative;
  top: -45px;
  left: -100px;
  font-style: oblique;
  font-size: 110%;
  color: darkblue;
}

.aboutad {
  margin: 0 0 10px 125px;
  font-size: 70%;
}

.punderradical {
  padding: 20px;
  margin: 0;
}

.bottomrightp {
  padding: 20px;
  margin: 0;
}

.social {
  color: lightgrey;
  font-family: 'Playfair Display', serif;
}

.images {
  width: 800px;
  margin: 0 auto;

}

.images .link {
  position: relative;
  width: 200px;
  width: 200px;
  float: left;
}


.images .overlay {
  position: absolute;
  bottom: 1;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: deeppink;
  opacity: .4;
  transition: opacity 2s;
}

.images .overlay:hover {
  opacity: 0;
  transition: opacity 2s;
}

h5 {
  color: black;
  margin: 160px 0 0px 28px;
  position: absolute;
  font-size: 2em;
}

.mostpop {
  width: 798px;
  height: 100px;
  background-color: white;
  margin: 0 auto;
  padding: 0;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

h6 {
  color: darkblue;
  text-align: center;
  margin: 0 0 0 0;
  padding: 28px 0 0 0;
  font-size: 2em;
}
