main {
  width: 100%;
  height: 700px;
  background-color: white;
  background-position: center;
  background-origin: center;
  border-bottom: 1px solid lightgrey;
}

header {
  width: 100%;
  height: 400px;
  margin: 0;
  background: lightgrey url(http://s3-us-west-1.amazonaws.com/scifindr/articles/images/000/000/922/large/1433769450-6581471d1e597ecad30cee5ad2ce6298-1366x911.jpg?1437603305) no-repeat;
  background-position: center;
  background-origin: center;
  text-shadow: 4px 4px 4px darkgrey;
}

header h1 {
  text-align: center;
  padding: 60px 0 0 0;
  margin: 0;
}

header p {
  text-align: center;
  padding: 0 0 50px 0;
  margin: 0;
}




.realmain {
width: 800px;
height: 700px;
margin: 0 auto;
background-color: white;
}

.sidebarright {
  width: 300px;
  height: 680px;
  background-color: white;
  float: right;
  border-right: 1px solid lightgrey;
  text-align: center;
  padding: 10px;
}





 .rightface {
  border-radius: 50%;
  position: absolute;
  top: 420px;
  right: 430px;
}

.sidebarright h2 {
  margin: 120px 0 0 0px;
  color: darkblue;
}

.sidebarright h3 {
  color: darkblue;
}

.rightsidebarp {
  text-align: left;
  color: darkgrey;
}

.surf {
  margin: 0 auto;
}

.leftsidebar {
  width: 475px;
  height: 700px;
  background-color: white;
  float: left;
  border-left: 1px solid lightgrey;
}

.leftsidebar h3 {
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  font-style: italic;
  margin: 0;
}

.leftsmallface {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  margin: 0 0 50px 75px;
}

.jacklefttop {
  margin: 0 0 0 100px;
  color: darkblue;
}

.topwave {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  right: 40px;
  float: left;



}

.leftp {
  color: black;
  padding: 20px;
  margin: 0;
}

.leftp2nd {
  padding: 20px;
  margin: 0;

}

.line {
  margin: 0 0 10px 20px;
  color: darkgrey;
}

h4 {
  margin: 0;
  text-align: center;
  position: relative;
  top: -45px;
  left: -100px;
  font-style: oblique;
  font-size: 110%;
  color: darkblue;


}

.aboutad {
  margin: 0 0 10px 125px;
  font-size: 70%;
}

.punderradical {
  padding: 20px;
  margin: 0;
}

.bottomrightp {
  padding: 20px;
  margin: 0;
}

.social {
  color: lightgrey;
  font-family: 'Playfair Display', serif;
}
